<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="/style.css"> -->
        <title>LAMCODE - Courses</title>
        <script src="../js/coursemanager.js" defer></script>
        
    </head>

    <body>
        <div>
            <div>
                <h3>Title</h3>
                <p>Additional info</p>
                <button> </button>
            </div>
        </div>

        <button id="example" class="courseButton">kododawanie</button>
        <button id="example2" class="courseButton">lamuszenie</button>
    </body>
    
</html>