<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <title>LAMCODE</title>
        
    </head>

    <body onload="animations()">
        <!-- Transition, which activates when you press GET STARTED -->
        <div class="transition"></div>

        <!-- Header -->
        <header>
            
            <!-- Part 1: Logo & Name -->
            <a class="header clean" href="/">
                <div class="title">
                    <img src="/img/logo.svg" alt="LAMCODE Logo">
                    <h1>LAMCODE</h1>
                </div>
            </a>

            <!-- Part 2: Links -->
            <div class="nav">
                <a href="/login">Login</a>
                <a href="#about">About</a>
            </div>

        </header>

        <!-- Launch page -->
        <article>
            <!-- Left side of the launch page -->
            <div class="left-text">
                <h2 style="font-weight: 900;">Learn coding, at a reasonable pace.</h2>
                
                <a href="/login" class="clean">
                    <div class="button" onclick="transIn()">GET STARTED</div>
                </a>
            </div>

            <!-- Right side of the launch page -->
            <div class="image">
                <img src="/img/person.svg" alt="Person doing code">
            </div>

        </article>

        <!-- Divide page with a nice curve -->
        <div class="divide divide-0">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>

        <!-- About Section -->
        <section id="about">

            <h1>About Lamcode</h1>

            <p>Lamcode is an open-source project which is designed to help people how to code, and more!</p>
            <h2>How can I add lessons?</h2>
            <p>Right now, you can't. The project is still in very early stages, but you can still contribute on <a href="https://github.com/CheryX/lamcode" target="_blank" rel="noopener noreferrer">GitHub</a>! </p>
            <h2>To be continued...</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia magnam amet blanditiis eligendi? Quaerat modi nesciunt libero ad! Minus modi magni pariatur eligendi ex similique id tempora nobis, asperioresdebitis!</p>
            <p>Quae, rem! Corrupti culpa hic, officia architecto asperiores, fugit cupiditate, soluta deleniti praesentium laboriosam odit ab magni aut excepturi quo sit odio eligendi. Optio temporibus tenetur aperiam suscipit error deserunt.</p>
            <p>Amet suscipit officiis nemo sed ad veniam quidem odio explicabo, laborum sequi molestias tempora cumque atque adipisci ipsam ipsum error quisquam sint reiciendis! Porro id maxime modi excepturi ex! Ullam?</p>

        </section>
        
        <!-- Divide page with a nice curve -->
        <div class="divide divide-1 divide-rotate">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>

        <!-- Importing scripts -->
        <script src="/js/animations.js"></script>
        <script src="/js/transition.js"></script>
    </body>
    </html>